/* *{
    border: 0;
    margin: 0;
    box-sizing: border-box;
} */

.Sign {
  margin-top: 70px;
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: 0;
}
.logo {
  width: 35px;
  height: 30px;
}

.sign-fontsize {
  font-size: 23px;
  margin-bottom: 25px;
}

p {
  font-size: 12px;
}

input {
  margin-top: 15px;
  border-bottom: 0.5px solid;
  width: 240px;
  border-color: #008000;
  outline: none;
}

.font-grap {
  margin-top: 25px;
}

.ps {
  padding-top: 12px;
  width: 30px;
}

.gander-radio {
  display: flex;
  width: 100px;
}

.radio-width {
  width: 20px;
  cursor: pointer;
}
input[type="radio"] {
  accent-color: #008000;
}

.adress {
  margin-top: 100px;
}

.CU {
  margin-top: 38px;
  display: flex;
  justify-content: space-around;
}

.cancel-btn {
  font-size: 13px;
  padding: 10px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 7px;
  cursor: pointer;
  border: 0.5px solid #008000;
  color: #008000;
}
.cancel-btn:active {
  border-color: green;
}

.user-Sign-btn {
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #008000;
  font-size: 13px;
  cursor: pointer;
  border-radius: 7px;
  color: white;
}

.user-Sign-btn:active {
  background-color: green;
}
